<h1 class="display-1">{{plant.plant_name}}</h1>

<img src="/img/uploads/{{plant.image}}" class="img-fluid" alt="logo">

<ul class="lead">
    <li>Date: <span>{{plant.date}}</span></li>
    <li>Location: <span>{{plant.location}}</span></li>
    <li>Description: <span>{{plant.description}}</span></li>
</ul>